{{/* layouts/_default/_markup/render-heading.html */}}

{{- $level := .Level -}}
{{- $id := .Anchor | safeURL -}}
{{- $hasNoCols := in .Attributes.class "no-cols" -}}

{{/* Only apply to level-2 headings (##) */}}
{{- if and (eq $level 2) (not $hasNoCols) -}}

  {{/* Close previous section if one is open */}}
  {{- if .Page.Scratch.Get "inDynSection" -}}
    </div>
  </section>
    {{ .Page.Scratch.Delete "inDynSection" }}
  {{- end -}}

  {{/* Mark a new dyn-col section as open */}}
  {{- .Page.Scratch.Set "inDynSection" true -}}

  <section>
    <h2 id="{{ $id }}">{{ .Text }}</h2>
    <div class="dyn-col">

{{- else -}}

  {{/* Default behavior for other heading levels */}}
  <h{{ $level }} id="{{ $id }}">{{ .Text }}</h{{ $level }}>

{{- end -}}