.fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll-bg {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .tall-bg {
    padding-bottom: 75px;
    padding-top: 75px;
  }

  .taller-bg {
    padding-bottom: 125px;
    padding-top: 125px;
  }

  .tallest-bg {
    padding-bottom: 250px;
    padding-top: 250px;
  }
}

@media screen {
  .bg-img, .bg-head {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  }
  
  .bg-head {
    background-image: url(../image/bghead.png);
    background-size: initial;
    background-repeat: repeat;
    padding-top: 100px;
  }

  .bg-1 {
    background-image: url(../image/bg1.jpg);
  }

  .bg-2 {
    background-image: url(../image/bg2.jpg);
  }

  .bg-3 {
    background-image: url(../image/bg3.jpg);
  }

  .bg-4 {
    background-image: url(../image/bg4.jpg);
  }

  .bg-5 {
    background-image: url(../image/bg5.jpg);
  }

  .bg-6 {
    background-image: url(../image/bg6.jpg);
    color: #333;
  }
  
  /* For the main image background at the top of a page*/
  .bg-top {
    padding-bottom: 250px;
    padding-top: 100px;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and below */
  }
  
  .bg-kbrd {
      background-image: url(../image/kbrd.jpg);
  }
}